@layer theme, base, components, utilities;

@import "tailwindcss";
@import "@heroui/styles";
@import "@fontsource-variable/geist";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

@theme theme {
    --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
    --font-mono: "JetBrains Mono Variable", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
    --accent: oklch(0 0 0);
    --accent-foreground: oklch(99.11% 0 0);
    --background: oklch(100% 0 0);
    --border: oklch(96.00% 0.0000 0.00);
    --danger: oklch(65.32% 0.2328 355.28);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94.00% 0.0000 0.00);
    --default-foreground: oklch(21.03% 0.0059 0.00);
    --field-background: oklch(100.00% 0.0000 0.00);
    --field-foreground: oklch(21.03% 0.0000 0.00);
    --field-placeholder: oklch(55.17% 0.0000 0.00);
    --focus: oklch(0 0 0);
    --foreground: oklch(21.03% 0.0000 0.00);
    --muted: oklch(55.17% 0.0000 0.00);
    --overlay: oklch(100.00% 0.0000 0.00);
    --overlay-foreground: oklch(21.03% 0.0000 0.00);
    --scrollbar: oklch(87.10% 0.0000 0.00);
    --segment: oklch(100.00% 0.0000 0.00);
    --segment-foreground: oklch(21.03% 0.0000 0.00);
    --separator: oklch(92.00% 0.0000 0.00);
    --success: oklch(73.29% 0.1935 120.35);
    --success-foreground: oklch(21.03% 0.0059 120.35);
    --surface: oklch(100.00% 0.0000 0.00);
    --surface-foreground: oklch(21.03% 0.0000 0.00);
    --surface-secondary: oklch(97.80% 0.0000 0.00);
    --surface-secondary-foreground: oklch(21.03% 0.0000 0.00);
    --surface-tertiary: oklch(93.9586% 0.0017 247.84);
    --surface-tertiary-foreground: oklch(21.03% 0.0000 0.00);
    --warning: oklch(78.19% 0.1585 41.87);
    --warning-foreground: oklch(21.03% 0.0059 41.87);
    --radius: 0.75rem;
    --field-radius: 0.75rem;
}

.dark,
[data-theme="dark"] {
    color-scheme: dark;
    --accent: oklch(0.9848 0 0);
    --accent-foreground: oklch(15% 0.0000 0.00);
    --background: oklch(12.00% 0.0000 0.00);
    --border: oklch(26.00% 0.0000 0.00);
    --danger: oklch(59.40% 0.1967 354.17);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.40% 0.0000 0.00);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0.0000 0.00);
    --field-foreground: oklch(99.11% 0.0000 0.00);
    --field-placeholder: oklch(70.50% 0.0000 0.00);
    --focus: oklch(0.9848 0 0);
    --foreground: oklch(99.11% 0.0000 0.00);
    --muted: oklch(70.50% 0.0000 0.00);
    --overlay: oklch(21.03% 0.0000 0.00);
    --overlay-foreground: oklch(99.11% 0.0000 0.00);
    --scrollbar: oklch(70.50% 0.0000 0.00);
    --segment: oklch(39.64% 0.0000 0.00);
    --segment-foreground: oklch(99.11% 0.0000 0.00);
    --separator: oklch(25.00% 0.0000 0.00);
    --success: oklch(73.29% 0.1935 120.35);
    --success-foreground: oklch(21.03% 0.0059 120.35);
    --surface: oklch(21.03% 0.0000 0.00);
    --surface-foreground: oklch(99.11% 0.0000 0.00);
    --surface-secondary: oklch(25.70% 0.0000 0.00);
    --surface-secondary-foreground: oklch(99.11% 0.0000 0.00);
    --surface-tertiary: oklch(27.21% 0.0000 0.00);
    --surface-tertiary-foreground: oklch(99.11% 0.0000 0.00);
    --warning: oklch(82.03% 0.1388 45.88);
    --warning-foreground: oklch(21.03% 0.0059 45.88);
}

@layer base {
    body {
        @apply font-sans;
    }

    :where(code, pre, kbd, samp) {
        @apply font-mono;
    }
}

